@use './../../style/Variable.scss' as vars;

.lang {
    color: vars.$variable;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    cursor: pointer;

    &::before {
        content: "<";
        color: vars.$tag;
    }
    
    &::after {
        content: "/>";
        color: vars.$tag;
    }
    
    @media (max-width: 425px) {
        font-size: 20px;
    }
}