@import './../../style/Variable.scss';

.app-header {
    align-items: center;
    background-color: $secondary;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    
    &__style-button {
        padding: 0;
        border: none;
        background: none;
    }

    &__style-button:focus { 
        outline: none; 
    }
}