@use './../../style/Variable.scss' as vars;

.anchor {
    color: vars.$variable;
    text-decoration: none;
    font-weight: bold;
    
    &::before {
        content: "<";
        color: vars.$tag;
    }
    &::after {
        content: "/> ";
        color: vars.$tag;
    }

    @media (max-width: 425px) {
        font-size: 1.2em;
    }
}